*_u.o
*_u.c
*_u.h
*_t.o
*_t.c
*_t.h
*.so
*.o
app
build
tls_server_host
ssl_client
*.csv
*.pdf
*.png
mvp_udp/client
mvp_udp/server
tsc
triad
**.pem
.vscode/settings.json
**.log
**/server
**.tar.gz
libsodium-*